.mainHeading {
    margin-top: 15rem;
    color: whitesmoke;
}

.between {
    margin: 10px;
}

.gradient {
    height: 100vh;
    background: #ee0979;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff6a00, #ee0979);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media only screen and (max-device-width: 480px) {
    .svg{
        display: none;
    }
    .mainHeading{
        margin-top: 6rem;
    }
}


.loginJumbotron{
    width: 70%;
    margin: auto;
    margin-top: 6rem;
}

.formGroup{
    text-align: left;
}

.agencyRegisterForm{
    text-align: left;
    
}

.agencyRegisterInput{
    margin-top: 5px;
}

.agencyRegisterButton{
    margin-top: 2rem;
}



/* css for worker registration page */
.WorkerRegisterContainer{
    padding-top: 5rem;
    text-align: left;
    
}
