.Navbar{
    text-align: left;
    background-color: #1d4354;
}


@media only screen and (max-device-width: 480px) {
 .searchBtn {
     width: 100%;
     margin-top: 1rem;
 }
 .profileSecondColumn {
     text-align: left;
     margin-top: 2rem;
 }
}

.profileBg{
    background-color: #f7f7f7;
    height: 100vh;
}

.profileJumbotron{
    background-color: white;
    border-radius: 7px;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12)
}

.profileBasicInfo{
    line-height:30px
}
.profileSecondColumn{
    text-align: left;
}
